@import '../../main';
.ringMenu {
  position: relative;
  border: 3px solid  $clr-grey-1;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  transition: 2s;
  .menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: $clr-blue-2;
    position: absolute;
    left: calc(54% - 23px);
    top: calc(54% - 23px);
    width: 6px;
    height: 6px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    &.active{
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        height: 56px;
        width: 56px; 
        background: $clr-grey-2;
        border: 3px solid $clr-grey-1;
        p{
            display: block;
            transition: 2s;
        }
    }
    &:hover{
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        height: 56px;
        width: 56px;
        transition: 0.3s;
        background: $clr-grey-2;
        border: 3px solid $clr-grey-1;
        p{
           display: block;
           transition: 2s;
        }
    }
    p {
      text-align: center;
      display: none;
    }
    &:nth-child(1) {
      transform: rotate(-60deg) translateX(250px);
      p {
        transform: rotate(60deg);
      }
    }
    &:nth-child(2) {
      transform: rotate(0deg) translateX(250px);
      p {
        transform: rotate(0deg);
      }
    }
    &:nth-child(3) {
      transform: rotate(60deg) translateX(250px);
      p {
        transform: rotate(-60deg);
      }
    }
    &:nth-child(4) {
      transform: rotate(120deg) translateX(250px);
      p {
        transform: rotate(-120deg);
      }
    }
    &:nth-child(5) {
      transform: rotate(180deg) translateX(250px);
      p {
        transform: rotate(-180deg);
      }
    }
    &:nth-child(6) {
      transform: rotate(240deg) translateX(250px);
      p {
        transform: rotate(-240deg);
      }
    }
  }
}
