$main-bg: #E5E5E5;
$clr-grey-1: #D9D9D9;
$clr-grey-2:#e9e9e9;
$clr-blue-1: #42567A;
$clr-blue-2: #303E58;
$clr-blue-3:#5D5FEF;
$clr-purple-1:#EF5DA8;




*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
//   font-family: 'Besley', serif;
//   font-optical-sizing: auto;
//   font-style: normal;
}

body {
  background-color: $main-bg;
}