@import '../../main';

.sliderContainer {
  opacity: 0;
  &.fadeIn{
    opacity: 1;
    animation: fadeIn 1.5s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// .swiper{
//   width: 100% !important;
//   // height: 100%;
//   width: 100%;
//   max-width: 100%;
//   max-height: 100vh;
//   // CSS Grid/Flexbox bug size workaround
//   // @see https://github.com/kenwheeler/slick/issues/982
//   // @see https://github.com/nolimits4web/swiper/issues/3599
//   min-height: 0;
//   min-width: 0;
// }

// .swiper-container {
//   width: 100% !important;
//   // height: 100%;
//   width: 100%;
//   max-width: 100%;
//   max-height: 100vh;
//   // CSS Grid/Flexbox bug size workaround
//   // @see https://github.com/kenwheeler/slick/issues/982
//   // @see https://github.com/nolimits4web/swiper/issues/3599
//   min-height: 0;
//   min-width: 0;
// }

// .myswiper {
//   width: 100% !important;
//   // height: 100%;
//   width: 100%;
//   max-width: 100%;
//   max-height: 100vh;
//   // CSS Grid/Flexbox bug size workaround
//   // @see https://github.com/kenwheeler/slick/issues/982
//   // @see https://github.com/nolimits4web/swiper/issues/3599
//   min-height: 0;
//   min-width: 0;
// }

// .swiper-container .swiper-wrapper .swiper-slide{
//   width: 70%;
// }

.swiper-slide {
  text-align: left;
  background: inherit;
  // width: 30% !important;
  // overflow: hidden !important;
//   justify-content: center;
//   align-items: center;
  // height: 100%;
//   width: 20% !important;
//   max-width: 100%;
//   max-height: 100vh;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  // @see https://github.com/nolimits4web/swiper/issues/3599
//   min-height: 0;
//   min-width: 0
    .year{
        color:$clr-blue-4;
        padding-bottom: 15px;
        font-size: 25px;
    }
    .event{
        color:$clr-blue-1;
        font-size: 20px;
    }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  width: 5px !important;
  height: 10px !important;
  font-size: 10px !important;
  font-weight: bolder;
}

.swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
